@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Gilroy"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: local("Gilroy"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
}
.page {
  font-family: "Gilroy", "Arial", sans-serif;
  margin: 0;
}
.title-font {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 34px;
  line-height: 42.09px;
  font-weight: bold;
}
.main-nav {
  margin-top: 66px;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
}
.main-nav__list {
  list-style: none;
  padding: 0;
  padding-left: 26px;
  margin: 0;
}
.main-nav__item:not(:last-child) {
  margin-bottom: 68px;
}
.main-nav__item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 34px;
  line-height: 42.09px;
  font-weight: bold;
  text-decoration: none;
  color: #828282;
}
.main-nav__item--current a {
  color: #090909;
}
.main-nav__item:hover a {
  color: #626262;
}
.main-nav__btn-toggle {
  width: 23px;
  height: 23px;
  margin-top: 10px;
  margin-right: 28px;
}
@media (min-width: 1440px) {
  .main-nav {
    margin-top: 33px;
    display: block;
  }
  .main-nav__list {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    height: 22px;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 32px;
    border-bottom: 1px solid #828282;
  }
  .main-nav__item a {
    font-size: 18px;
    line-height: 22px;
  }
  .main-nav__btn-toggle {
    display: none;
  }
}
.lang-list {
  list-style: none;
  display: flex;
  width: 144px;
  height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 150px;
  margin-left: auto;
  margin-right: 0;
  transform: rotate(90deg);
}
.lang-list__item {
  margin-top: -10px;
}
.lang-list__item:first-child {
  border-right: 5px solid #090909;
  padding-right: 13px;
}
.lang-list__item:last-child {
  padding-left: 13px;
}
.lang-list__item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 34px;
  line-height: 42.09px;
  font-weight: bold;
  text-decoration: none;
  color: #828282;
}
.lang-list__item--current a {
  color: #090909;
}
@media (min-width: 1440px) {
  .lang-list {
    display: none;
    transform: rotate(-90deg);
    width: 65px;
    height: 20px;
    margin: 0 auto;
  }
  .lang-list__item {
    height: 20px;
  }
  .lang-list__item a {
    font-size: 16px;
    line-height: 20px;
  }
  .lang-list__item:first-child {
    border-right: 2px solid #090909;
    padding-right: 7px;
  }
  .lang-list__item:last-child {
    padding-left: 7px;
  }
}
.main-info {
  width: 316.5px;
  margin: 0 auto;
  margin-top: 75px;
}
.main-info__name {
  margin: 0;
  width: 124px;
  font-size: 47px;
  line-height: 58px;
}
.main-info__basic {
  width: 155px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 22px;
}
.main-info__lang-wrapper {
  display: none;
}
.main-info__image {
  margin-bottom: 83px;
}
@media (min-width: 1440px) {
  .main-info {
    display: flex;
    width: 940px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-info__basic {
    margin: 0;
    margin-right: 100px;
    align-self: flex-end;
  }
  .main-info__lang-wrapper {
    display: block;
    box-sizing: border-box;
    width: 25px;
    height: 65px;
    padding-top: 40px;
    align-self: flex-end;
  }
  .main-info__lang-list {
    list-style: none;
    display: flex;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
  }
  .main-info__lang-item {
    height: 20px;
  }
  .main-info__lang-item a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #828282;
  }
  .main-info__lang-item--current a {
    color: #090909;
  }
  .main-info__lang-item:first-child {
    border-right: 2px solid #090909;
    padding-right: 7px;
  }
  .main-info__lang-item:last-child {
    padding-left: 7px;
  }
  .main-info__image {
    width: 940px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 104px;
  }
}
.about-me {
  min-width: 375px;
  min-height: 491px;
  box-sizing: border-box;
  background-color: #f6f6f6;
  padding-top: 81px;
}
.about-me__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.about-me__desc {
  min-height: 261px;
  width: 316px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-me__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
}
.about-me__text:first-child br,
.about-me__text:last-child br {
  display: none;
}
@media (min-width: 1440px) {
  .about-me {
    min-width: 1440px;
    min-height: 506px;
    padding-top: 120px;
  }
  .about-me__desc {
    width: 480px;
  }
  .about-me__text:first-child br,
  .about-me__text:last-child br {
    display: block;
  }
  .about-me__text:nth-child(2) br {
    display: none;
  }
}
.sec-title {
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
}
.skills {
  padding-top: 83px;
}
.skills__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.skills__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-top: 50px;
}
.skills__programs-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.skills__programs-item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.skills__programs-item:first-child {
  margin-top: 183.5px;
}
.skills__programs-item:last-child {
  margin-bottom: 181px;
}
.skills__programs-item:not(:first-child) {
  margin-top: 260px;
}
.skills__program-name {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  position: relative;
}
.skills__program-name::before {
  content: "";
  position: absolute;
  width: 89.07px;
  height: 88.41px;
  top: -113.28px;
}
.skills__program-name::after {
  content: "";
  position: absolute;
  width: 166.46px;
  height: 26px;
  bottom: -40px;
}
.skills__photoshop::before {
  background: url("../img/photoshop.svg") no-repeat;
  left: -9px;
}
.skills__photoshop::after {
  background: url("../img/photoshop-stars.svg") no-repeat;
  left: -45px;
}
.skills__illustrator::before {
  background: url("../img/illustrator.svg") no-repeat;
  left: -14px;
}
.skills__illustrator::after {
  background: url("../img/illustrator-stars.svg") no-repeat;
  left: -49px;
}
.skills__after {
  width: 80px;
}
.skills__after::before {
  background: url("../img/after.svg") no-repeat;
  left: -5px;
}
.skills__after::after {
  background: url("../img/after-figma-stars.svg") no-repeat;
  left: -41px;
}
.skills__figma::before {
  width: 58.25;
  height: 88.99px;
  background: url("../img/figma.svg") no-repeat;
  left: -8px;
}
.skills__figma::after {
  background: url("../img/after-figma-stars.svg") no-repeat;
  left: -62px;
}
@media (min-width: 1440px) {
  .skills {
    padding-top: 91px;
  }
  .skills__programs-list {
    display: flex;
  }
  .skills__programs-item:first-child,
  .skills__programs-item:not(:first-child) {
    margin-top: 182px;
  }
  .skills__figma::after {
    bottom: -57px;
  }
}
.portfolio {
  min-height: 1118px;
  box-sizing: border-box;
  background-color: #f6f6f6;
  padding-top: 81px;
  padding-bottom: 81px;
}
.portfolio__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 65px;
}
.portfolio__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__item:not(:last-child) {
  margin-bottom: 78px;
}
.portfolio__pic {
  margin-bottom: 33px;
}
.portfolio__name {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.portfolio__name:hover {
  color: #626262;
  -webkit-text-decoration-color: #626262;
          text-decoration-color: #626262;
}
@media (min-width: 1440px) {
  .portfolio {
    min-height: 2253px;
    padding-top: 113px;
    padding-bottom: 96px;
  }
  .portfolio__title {
    margin-bottom: 47px;
  }
  .portfolio__item:not(:last-child) {
    margin-bottom: 100px;
  }
  .portfolio__pic {
    width: 936.24px;
    height: 522px;
    margin-bottom: 45px;
  }
}
.contacts {
  margin-top: 82px;
}
.contacts__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 27px;
}
.contacts__text {
  font-size: 18px;
  line-height: 22px;
  width: 275px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}
.contacts__email {
  margin: 0 auto;
  width: 316px;
  height: 42px;
  background-color: #000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
  cursor: pointer;
}
.contacts__email:hover {
  background-color: #626262;
}
.contacts__email a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
}
.contacts__social-list {
  list-style: none;
  padding: 0;
  display: flex;
  width: 316px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 48px;
}
.contacts__social-item:hover svg path {
  fill: #626262;
  stroke: #626262;
  stroke-width: 0.2px;
}
.contacts__desc {
  width: 315px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 116px;
  align-items: center;
}
.contacts__desc-item {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}
@media (min-width: 1440px) {
  .contacts {
    margin-top: 114px;
  }
  .contacts__title {
    margin-bottom: 20px;
  }
  .contacts__text {
    margin-bottom: 29px;
  }
  .contacts__email {
    width: 180.5px;
    margin-bottom: 86px;
  }
  .contacts__social-list {
    width: 342px;
    margin-bottom: 45px;
  }
  .contacts__desc {
    margin-bottom: 123px;
  }
}
