@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Gilroy"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: local("Gilroy"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
}
.page {
  font-family: "Gilroy", "Arial", sans-serif;
}
.title-font {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 34px;
  line-height: 42.09px;
  font-weight: bold;
}
.main-nav {
  margin-top: 66px;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
}
.main-nav__list {
  list-style: none;
  padding: 0;
  padding-left: 26px;
  margin: 0;
}
.main-nav__item:not(:last-child) {
  margin-bottom: 68px;
}
.main-nav__item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 34px;
  line-height: 42.09px;
  font-weight: bold;
  text-decoration: none;
  color: #828282;
}
.main-nav__item--current a {
  color: #090909;
}
.main-nav__btn-toggle {
  width: 23px;
  height: 23px;
  margin-top: 10px;
  margin-right: 28px;
}
@media (min-width: 1440px) {
  .main-nav {
    margin-top: 33px;
    display: block;
  }
  .main-nav__list {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    height: 22px;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 32px;
    border-bottom: 1px solid #828282;
  }
  .main-nav__item a {
    font-size: 18px;
    line-height: 22px;
  }
  .main-nav__btn-toggle {
    display: none;
  }
}
.lang-list {
  list-style: none;
  display: flex;
  width: 144px;
  height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 150px;
  margin-left: auto;
  margin-right: 0;
  transform: rotate(90deg);
}
.lang-list__item {
  margin-top: -10px;
}
.lang-list__item:first-child {
  border-right: 5px solid #090909;
  padding-right: 13px;
}
.lang-list__item:last-child {
  padding-left: 13px;
}
.lang-list__item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 34px;
  line-height: 42.09px;
  font-weight: bold;
  text-decoration: none;
  color: #828282;
}
.lang-list__item--current a {
  color: #090909;
}
@media (min-width: 1440px) {
  .lang-list {
    display: none;
    transform: rotate(-90deg);
    width: 65px;
    height: 20px;
    margin: 0 auto;
  }
  .lang-list__item {
    height: 20px;
  }
  .lang-list__item a {
    font-size: 16px;
    line-height: 20px;
  }
  .lang-list__item:first-child {
    border-right: 2px solid #090909;
    padding-right: 7px;
  }
  .lang-list__item:last-child {
    padding-left: 7px;
  }
}
.main-info {
  width: 316.5px;
  margin: 0 auto;
  margin-top: 75px;
}
.main-info__name {
  margin: 0;
  width: 124px;
  font-size: 47px;
  line-height: 58px;
}
.main-info__basic {
  width: 155px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 22px;
}
.main-info__lang-wrapper {
  display: none;
}
@media (min-width: 1440px) {
  .main-info {
    display: flex;
    width: 940px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-info__basic {
    margin: 0;
    margin-right: 100px;
    align-self: flex-end;
  }
  .main-info__lang-wrapper {
    display: block;
    box-sizing: border-box;
    width: 25px;
    height: 65px;
    padding-top: 40px;
    align-self: flex-end;
  }
  .main-info__lang-list {
    list-style: none;
    display: flex;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
  }
  .main-info__lang-item {
    height: 20px;
  }
  .main-info__lang-item a {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #828282;
  }
  .main-info__lang-item--current a {
    color: #090909;
  }
  .main-info__lang-item:first-child {
    border-right: 2px solid #090909;
    padding-right: 7px;
  }
  .main-info__lang-item:last-child {
    padding-left: 7px;
  }
  .main-info__image {
    width: 940px;
    height: auto;
    margin-top: 50px;
  }
}
